.photos-component {
  width: 75%;
  margin: auto;

  .subtitle,
  .title {
    text-align: center;
    font-weight: 300;
    font-size: 1.6em;
  }

  .photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .photo-item {
      text-align: center;
      min-width: 8em;
      min-height: 8em;
      cursor: pointer;
      transition: all 250ms ease-in;
      box-shadow: 0 0 0 #212121;
      margin: .35em;
      border-radius: .1em;

      &:hover {
        transform: scale(1.5);
        box-shadow: 0 0.4em 0.8em #212121;
        z-index: 2;
      }

      .photo-item-wrapper {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;

        .loading-element {
          @extend .spinner-wrapper;
          height: 100%;
          width: 100%;
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: auto;
          transform: translate(-50%,-50%);
          overflow: hidden;
        }
      }
    }
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    align-self: center;
  }
}

.dialog-spinner {
  @extend .spinner-wrapper;
  position: absolute !important;
  height: 100%;
  width: 100%;
  background-color: rgba(33,33,33,.8);
}
