.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer .footer-section {
    position: relative;
    padding: 1em;
    margin: 1em; }
    .footer .footer-section .footer-section-list {
      display: flex; }
      .footer .footer-section .footer-section-list a,
      .footer .footer-section .footer-section-list a:active,
      .footer .footer-section .footer-section-list a:visited {
        text-decoration: none;
        cursor: pointer; }
      .footer .footer-section .footer-section-list a,
      .footer .footer-section .footer-section-list span {
        padding: 0 1em;
        color: #666;
        font-size: 1.4em;
        transition: color 150ms ease; }
        .footer .footer-section .footer-section-list a:hover,
        .footer .footer-section .footer-section-list span:hover {
          color: #111; }
