.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-section {
    position: relative;
    padding: 1em;
    margin: 1em;

    .footer-section-list {
      display: flex;

      a,
      a:active,
      a:visited {
        text-decoration: none;
        cursor: pointer;
      }

      a,
      span {
        padding: 0 1em;
        color: #666;
        font-size: 1.4em;
        transition: color 150ms ease;

        &:hover {
          color: #111;
        }
      }
    }
  }
}
